# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# VS Code
.vscode/

# Docker (si tu as des dossiers de données mappés localement)
*.log
infra/data/
postgres_data/
minio_data/

# OS specific
.DS_Store
Thumbs.db*.pth
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Modèles IA lourds
services/vision_plante/models/*.pth

# Docker volumes locaux
*_data/